.filter-btn {
  margin-top: 24px;
}

.cover {
  height: 100%;
  position: fixed;
}

.resume-wrapper {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  min-height: -webkit-fill-available;
  padding-bottom: 40px;
}

.bg {
  background-image: url("../assets/img/cover.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: rgba(255, 255, 255, 0.95);
}

.landing-text {
  position: absolute;
  width: 100%;
  font-weight: bold;
  color: white;
}

.center {
  text-align: center;
}

.errorlist {
  color: orange;
}

.profile-wrapper {
  background: white;
  margin: 0 auto;
}

.registration-form {
  margin: 0 auto;
}
.password-change-form {
  margin: 0 auto;
}

.ok {
  width: 60%;
}

.ucla-blue {
  background: rgb(50, 132, 191);
}

.landing-middle {
  top: 30%;
  background-color: rgba(50, 132, 191, 0.90);
}

.landing-title {
  color: white;
  font-size: 64px;
  margin-bottom: 12px;
  margin-top: 16px;
}

.landing-subtitle {
  font-size: 36px;
  color: rgb(255, 232, 0);
  margin-top: 0;
  font-weight: bold;
}


.uk-navbar-link-skin {
  font-size: 18px;
  color: white;
}

.uk-navbar-link-skin-left {
  padding-left: 20px;
}

.uk-navbar-link-skin-right {
  padding-right: 20px;
}

.uk-navbar-item a:hover {
    color: white;
}

.uk-sticky-fixed .uk-navbar-link-skin {
  color: rgb(50, 132, 191) !important;
}

a {
  color: rgb(50, 132, 191);
}

.no-styling {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.img-prof-size {
  height: 80px;
}

.contact-cards {
  padding-top: 24px;
}

.target {
  position: absolute;
  bottom: 80px;
}

.margin-bottom-48px {
  margin-bottom: 48px;
}

.scroll-down {
  width: 100%;
  text-align: center;
}

.mobile-nav {
  font-size: 24px;
}

.target-bottom {
  bottom: 50px;
}

.dropdown-mobile {
  left: 0 !important;
  width: 100% !important;
  top: -10px !important;
}

#scroll-down a {
  padding-top: 70px;
}

#scroll-down a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 3px solid #fff;
  border-top: 3px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: sdb 1.5s infinite;
  animation: sdb 1.5s infinite;
  box-sizing: border-box;
}

.logo {
  padding-left: 80px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: none;
  height: 60px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.logo:hover {
  opacity: 0.8;
  animation: all 5s linear 2s infinite alternate;
}

.uk-sticky-fixed .logo {
  display: block;
}

.no-margin-top {
  margin-top: 0px !important;
}

@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(45deg) translate(20px, 20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(45deg) translate(0, 0);
    opacity: 0;
  }
}

@keyframes sdb {
  0% {
    transform: rotate(45deg) translate(20px, 20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(45deg) translate(0, 0);
    opacity: 0;
  }
}

.mobile-nav a:hover {
    color: rgb(50, 132, 191);
}

@media only screen and (max-width: 640px) {
  .uk-navbar-item a:hover {
    color: rgb(50, 132, 191);
  }  

  .logo {
    padding-left: 20px;
  }

  .landing-middle {
    top: 25%;
  }

  .landing-title {
    font-size: 36px;
  }

  .landing-subtitle {
    font-size: 24px;
  }

  .uk-text-lead {
    font-size: 18px;
  }
}
