{% extends "internal/base.html" %}

{% block nav-events %}<li class="uk-active"><a href="{% url 'events' %}">Events</a></li>{% endblock %}

{% block content %}
<div class="uk-container uk-container-small uk-margin">

  {% if messages %}
  {% for message in messages %}
  <p{% if message.tags %} class="{{ message.tags }}"{% endif %}><strong>{{ message }}</strong></p>
  {% endfor %}
  {% endif %}
  
  <h1>Events</h1>
  <form action="{% url 'events_submit' %}" method="post">
    {% csrf_token %}
    <table class="uk-table">
      <tr>
        <td></td>
        {% for e in events %}
        <th scope="col">{{ e.name }}</th>
        {% endfor %}
      </tr>
      {% for r in array %}
      <tr>
        <th scope="row">{{ r.profile.user.first_name }} {{ r.profile.user.last_name }}</th>
        {% for c in r.checks %}
        <td>
          <input type="hidden" name="cb_{{ r.profile.id }}_{{ c.event }}" value="False">
          <input type="checkbox" name="cb_{{ r.profile.id }}_{{ c.event }}" value="True" {% if c.check %} checked {% endif %} {% if not editable %} disabled {% endif %} >
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    {% if editable %}
    <button type="submit" class="uk-button uk-button-primary">Save</button>
    {% endif %}
  </form>
</div>
{% endblock %}