{% extends "internal/base.html" %}

{% block nav-events %}<li class="uk-active"><a href="{% url 'events' %}">Events</a></li>{% endblock %}

{% block content %}
<div class="uk-container uk-container-large">

    {% if messages %}
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}><strong>{{ message }}</strong></p>
    {% endfor %}
    {% endif %}

    <div class="uk-child-width-1-1@m uk-grid-medium uk-grid-match uk-flex uk-flex-column uk-flex-center uk-margin-top" uk-grid>
        <div><div class="uk-card uk-card-default uk-card-body">
            <h1>Events</h1>
            <form action="{% url 'events_submit' %}" method="post">
                {% csrf_token %}
                <div class="uk-overflow-auto">
                    <table class="uk-table">
                        <tr>
                            <td></td>
                            {% for e_id, ec in events_completions.items %}
                            <th scope="col">{{ ec.event.name }}{% if ec.event.category %} <span class="uk-text-warning">({{ ec.event.category }})</span>{% endif %}</th>
                            {% endfor %}
                        </tr>
                        {% for team_id, team in teams.items %}
                        <tr>
                            <td>
                                <p class="{% if team_id == 0 %}uk-text-muted{% else %}uk-text-primary{% endif %}">{{ team.team_name }}</p>
                            </td>
                        </tr>
                        {% for member in team.members %}
                        <tr>
                            <th scope="row">{{ member.profile.user.first_name }} {{ member.profile.user.last_name }}</th>
                            {% for c in member.checks %}
                            <td>
                                <input type="hidden" name="cb_{{ member.profile.id }}_{{ c.event_id }}" value="0">
                                {% if c.event_type == "select" %}
                                <select class="uk-select" name="cb_{{ member.profile.id }}_{{ c.event_id }}" {% if not editable %} disabled {% endif %} >
                                    {% for option in c.event_data.options %}
                                    <option value={{ option.id }} {% if c.event_data.selected == option.id %} selected {% endif %}>{{ option.name }}</option>
                                    {% endfor %}
                                </select>
                                {% elif c.event_type == "repeatable" %}
                                <input class="uk-input uk-form-small uk-form-width-xsmall" type="text" name="cb_{{ member.profile.id }}_{{ c.event_id }}" value="{{ c.event_data.count }}" {% if not editable %} disabled {% endif %} >
                                {% elif c.event_type == "single" %}
                                <input class="uk-checkbox" type="checkbox" name="cb_{{ member.profile.id }}_{{ c.event_id }}" value="1" {% if c.event_data.checked %} checked {% endif %} {% if not editable %} disabled {% endif %} >
                                {% endif %}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        <tr>
                            <td>
                                <hr>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% if editable %}
                <button type="submit" class="uk-button uk-button-primary uk-margin-top">Save</button>
                {% endif %}
            </form>
        </div></div>
    </div>
</div>
{% endblock %}