{% extends "internal/base.html" %}

{% block nav-home %}<li class="uk-active"><a href="{% url 'index' %}">Home</a></li>{% endblock %}

{% block content %}
<div class="uk-container uk-container-small">
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
</div>
{% endblock %}
