{% extends "internal/base.html" %}

{% block nav-profile %}<li class="uk-active"><a href="{% url 'profile' %}">Profile</a></li>{% endblock %}

{% block content %}
<div class="uk-container uk-container-small">

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <div class="uk-child-width-1-1@m uk-grid-medium uk-grid-match uk-flex uk-flex-column uk-flex-center uk-margin-top" uk-grid>
        <div><div class="uk-card uk-card-default uk-card-body">
            <h1>Profile</h1>
            <p>Username: {{ user.username }}</p>
            <p>Password: <a href="{% url 'password_change' %}">[ change ]</a></p>
            <p>Email: {{ user.email }}</p>
            <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
            <p>Team: {% if profile.team == None %}(None){% else %}{{ profile.team.name }} ({{ profile.team.points }} points){% endif %}</p>
            <p>Role: {% if profile.role == 'b' %}Bit{% elif profile.role == 'B' %}Byte{% endif %}</p>
            <p>Answers: {{ profile.answers }}</p>
            <p><a href="{% url 'edit_profile' %}">Update profile</a></p>
        </div></div>
    </div>
</div>
{% endblock %}
