{% extends "internal/base.html" %}

{% block nav-teams %}<li class="uk-active"><a href="{% url 'teams' %}">Teams</a></li>{% endblock %}

{% block content %}
<div class="uk-container uk-container-small">

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <div class="uk-child-width-1-1@m uk-grid-medium uk-grid-match uk-flex uk-flex-column uk-flex-center uk-margin-top" uk-grid>
        <div><div class="uk-card uk-card-default uk-card-body">
            <h1>Teams</h1>
            <table class="uk-table">
                <tr>
                    <th class="uk-table-shrink uk-text-nowrap">#</th>
                    <th class="uk-table-shrink uk-text-nowrap">Team Name</th>
                    <th class="uk-table-shrink uk-text-nowrap">Points</th>
                    <th class="uk-table-shrink uk-text-nowrap">Byte</th>
                    <th class="uk-table-expand uk-text-nowrap">Bits</th>
                </tr>

                {% for t in teams %}
                <tr {% if t.cur_user %}class="uk-background-secondary"{% endif %}>
                <td class="uk-text-nowrap {% if t.cur_user %}uk-light{% endif %} {% if forloop.counter == 1 %}uk-text-primary{% endif %}">{% if forloop.counter == 1 %}&starf;{% else %}{{ forloop.counter }}{% endif %}</td>
                <td class="uk-text-nowrap {% if t.cur_user %}uk-light{% endif %}">{{ t.name }}</td>
                <td class="uk-text-nowrap {% if t.cur_user %}uk-light{% endif %}">{{ t.points|stringformat:'.1f' }}</td>
                <td class="uk-text-nowrap {% if t.cur_user %}uk-light{% endif %}"><b>{% if t.byte %}{{ t.byte.user.first_name }} {{ t.byte.user.last_name }}</b> ({{ t.byte.points|stringformat:'.1f' }}){% endif %}</td>
                <td class="{% if t.cur_user %}uk-light{% endif %}">
                    {% for b in t.bits %}
                    <b>{{ b.user.first_name }} {{ b.user.last_name }}</b> ({{ b.points|stringformat:'.1f' }}){% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                </tr>
                {% endfor %}
            </table>
            {% if role == 'B' and team_name == None %}
            <hr>
            <form action="{% url 'teams_create' %}" method="post" class="uk-margin-top">
                {% csrf_token %}
                <em>You are not in a team. As a byte, you should create a team and share the invite code with your bits.</em>
                <div uk-grid class="uk-margin-top">
                    <div class="uk-width-expand"><input class="uk-margin uk-input" name="team_name" placeholder="Team name"></div>
                    <div class="uk-width-auto"><button type="submit" class="uk-button uk-button-primary">+ Create and join team</button></div>
            </form>
            {% elif role == 'B' and team_name != None %}
            <hr>
            <em>Your team is <span class="uk-text-primary">{{ team_name }}</span>. The invite code is <span class="uk-text-primary">{{ byte_invite_code }}</span>. Please share this with your bits.</em>
            {% elif role == 'b' and team_name == None %}
            <hr>
            <form action="{% url 'teams_join' %}" method="post" class="uk-margin-top">
                {% csrf_token %}
                <em>You are not in a team. As a bit, you should get a team invite code from your byte.</em>
                <div uk-grid class="uk-margin-top">
                    <div class="uk-width-expand"><input class="uk-margin uk-input" name="invite_code" placeholder="Invite code"></div>
                    <div class="uk-width-auto"><button type="submit" class="uk-button uk-button-primary">Join team</button></div>
            </form>
            {% endif %}
        </div></div>
    </div>
</div>
{% endblock %}