{% extends "internal/base.html" %}

{% block nav-teams %}<li class="uk-active"><a href="{% url 'teams' %}">Teams</a></li>{% endblock %}

{% block content %}
<div class="uk-container uk-container-small">

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <div class="uk-child-width-1-1@m uk-grid-medium uk-grid-match uk-flex uk-flex-column uk-flex-center uk-margin-top" uk-grid>
        <div><div class="uk-card uk-card-default uk-card-body">
            <h1>Teams</h1>
            <table class="uk-table">
                <tr>
                    <th class="uk-table-shrink uk-text-nowrap">#</th>
                    <th class="uk-table-shrink uk-text-nowrap">Team Name</th>
                    <th class="uk-table-shrink uk-text-nowrap">Points</th>
                    <th class="uk-table-shrink uk-text-nowrap">Byte</th>
                    <th class="uk-table-expand uk-text-nowrap">Bits</th>
                </tr>

                {% for t in teams %}
                <tr {% if t.cur_user %}class="uk-background-secondary"{% endif %}>
                <td class="uk-text-nowrap {% if t.cur_user %}uk-light{% endif %}">{{ forloop.counter }}</td>
                <td class="uk-text-nowrap {% if t.cur_user %}uk-light{% endif %}">{{ t.name }}</td>
                <td class="uk-text-nowrap {% if t.cur_user %}uk-light{% endif %}">{{ t.points|stringformat:'.2f' }}</td>
                <td class="uk-text-nowrap {% if t.cur_user %}uk-light{% endif %}"><b>{{ t.byte.user.first_name }} {{ t.byte.user.last_name }}</b></td>
                <td class="{% if t.cur_user %}uk-light{% endif %}">
                    {% for b in t.bits %}
                    {{ b.user.first_name }} {{ b.user.last_name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                </tr>
                {% endfor %}
            </table>
        </div></div>
    </div>
</div>
{% endblock %}